<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
</head>
<body>
<div class="container center-align indigo lighten-5">
{% block body %}{% endblock %}
</div>
<footer class="container align-wrapper center-align indigo lighten-4">
<p>Vu le {{ 'now'|date('d/m/Y') }}<br />Responsable du site : {{ webmaster }}.</p>
</footer>
{% block javascripts %}{% endblock %}
</body>
</html>
